.container {
    display: flex; 
    /* justify-content: space-between;  */
    gap: 20px; 
}

.spot-image2 {
    width: 90%;
    max-width: 40%;   
    border-radius: 8px;  
    padding: .5%;
}

.description {
    max-width: 70%;
}

.infobox {
    background-color: wheat;
    max-width: 40%;
    margin-left: .5%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.thumbnail-container {
    display: flex;               /* Flexbox to arrange thumbnails horizontally */
    flex-direction: column;      /* Stack thumbnails vertically */
    gap: 10px;                   /* Adds space between each thumbnail */
}

.infobox2 {
    background-color: black;
    /* max-width: 40%; */
    height: 150px;
    width: 300px;
    margin-left: .5%; 
    padding: 10px; 
    box-sizing: border-box; 
    align-items: center;
    color: white;
}

.reserve{
    cursor: pointer;
    width: 280px;
}

.title-star-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.star-container {
    display: flex;
    align-items: center;
}

.star {
    font-size: 1.5em;
    color: gold;
    margin-right: 0; 
}

.new2 {
    font-size: 1em;
    color: white;
    font-weight: bold;
}
.review-section {
    padding: 20px;
}

.review-box {
    background-color: wheat;
    display: flex; 
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.star2 {
    font-size: 1.5em;
    margin-right: 5px;
}

.new3 {
    font-weight: bold;
}

.average-rating {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}
.post-review-button {
    background-color: brown;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}



