.spots-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
    /* height: auto; */
    /* margin-right: 100px; */
   
  }

  .spot-card {
    width: calc(33.33% - 20px);
    /* height: 300px; */
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: .5%;
    cursor: pointer;

  }

  .spot-image {
    width: 100% ;
    height: 300%;
  }

.big-star-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-container {
    display: flex;
    align-items: center;
}

.new {
    color: black;
    font-weight: bold;
}
