/* Global styling
/* testing */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(28, 58, 28);
    /* background-color: beige; */
    margin: 0;
    padding: 0;
  }
 

  /* html, body {
    padding: 0px;
    margin: 0px;
  } */