
.nav-bar {
  list-style-type: none;
  margin: 0;
  background-color: white; 
  height: 50px; 
  display: flex;
  align-items: center;
  padding: 10px;;
  list-style-type: none;
}

/* home on left side */
.nav-bar .active {
  font-weight: bold;
  color: black;
  margin-right: auto;
}

/* home on left and profile right */
#leftside {
  margin-right: auto; 
}

/* space between login and sign in */
/* #rightside {
  margin: 0 10px; 
  
} */

.home-logo{
  height: 50px;
}

.createspot{
  font-size: 20px;
  color: black;
  text-decoration: none;
}
