
.nav-bar {
  list-style-type: none;
  margin: 0;
  background-color: #000000; 
  height: 50px; 
  display: flex;
  align-items: center;
  padding: 10px;;
  list-style-type: none;
}

/* home on left side*/
.nav-bar .active {
  font-weight: bold;
  color: #007bff; 
  margin-right: auto;
}

/* home on left and profile right */
#leftside {
  margin-right: auto; 
}

/* space between login and sign in */
/* #rightside {
  margin: 0 10px; 
  
} */



