/* General Styling for the Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end;
    background-color: #000000; 
    padding: 10px 20px;
    height: 50px; 
  }
  
  /*navbar links */
  #navbar {
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    /* display: block; */
  }
  
  #home {
    display: flex; 
    justify-content: flex-start;
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
    padding: 10px 15px; 
    /* display: block; */
  }

 /* active style/hover */
  #navbar.active {
    background-color: #a28bd6; 
    border-radius: 5px;
  }
  

#picture {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
li {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
